/* zcool-qingke-huangyou-regular - latin_chinese-simplified */
@font-face {
  font-family: 'ZCOOL QingKe HuangYou';
  font-style: normal;
  font-weight: 400;
  src:
    local(''),
    url('../../fonts/zcool-qingke-huangyou-v5-latin_chinese-simplified/zcool-qingke-huangyou-v5-latin_chinese-simplified-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../../fonts/zcool-qingke-huangyou-v5-latin_chinese-simplified/zcool-qingke-huangyou-v5-latin_chinese-simplified-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:global body {
  margin: 0;
}

:global .ant-card-body {
  padding: 10px 15px;
}

.app {
  width: 300px;
  background-color: #f6f6f6;
}

.header {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-left: 20px;

  .icon {
    width: 48px;
    height: 48px;
  }

  .text {
    padding-left: 10px;
    font-family: 'ZCOOL QingKe HuangYou', serif;
    font-size: 24px;
  }
}

.cardsContainer {
  padding: 10px;
}

.flexBox {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .boldText {
    font-weight: 600;
  }
}

.miniHint {
  display: block;
  height: 33px;
  color: #c51210;
  font-size: 11px;
  font-style: italic;
  line-height: 13px;
}
